* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}
body {
    background-color: #f9f9f9;
}
.container {
    width: 964px;
    margin: 0 auto;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.logo {
    height: 130px;
    line-height: 130px;
}
.logo-img {
    vertical-align: middle;
    max-height: 120px;
}
.navigation-top {
    height: 40px;
    background-color: #515151;
}
.navigation-top li {
    width: 90px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 38px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.navigation-top li:hover {
    width: 88px;
    background-color: #393939;
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
}
.navigation-top li a {
    text-decoration: none;
    color: white;
}
.main {
    margin-top: 40px;
}
.content {
    float: right;
    width: 680px;
}
.content_img {
    border: 1px solid #c8c8c8;
    width: 680px;
    height: 400px;
    line-height: 400px;
    text-align: center;
}
.image_content {
    max-width: 600px;
    max-height: 360px;
    vertical-align: middle;
}
.content_text {
    margin-top: 40px;
}
.content_text p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #2c2c2c;
}
.aside {
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    width: 240px;
}
.left_menu li:first-child {
    border-top: 1px solid #c8c8c8;
}
.left_menu li {
    padding-left: 40px;
    border-bottom: 1px solid #c8c8c8;
    list-style: none;
    font-size: 12px;
    line-height: 38px;
}
.left_menu li a {
    color: #656363;
    text-decoration: none;
}
.left_menu li a:hover {
    color: #2c2c2c;
    margin-left: 15px;
}
footer {
    margin-top: 30px;
    background-color: #e1e1e1;
}
.navigation-bottom {
    float: left;
    height: 40px;
}
.navigation-bottom li {
    width: 90px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 38px;
    color: #2c2c2c;
    font-size: 12px;
    text-align: center;
}
.navigation-bottom li:hover {
    text-decoration: underline;
}
.navigation-bottom li a {
    text-decoration: none;
    color: #2c2c2c;
}
.copyright-site {
    float: right;
}
.copyright-site p {
    line-height: 38px;
    margin-right: 40px;
    color: #2c2c2c;
    font-size: 12px;
}